@model NitelikliGenc.MVC.Admin.Models.ViewModels.Category.CategoryCreateViewModel
@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<div class="col-md-12">
  <!-- general form elements -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Kategori Ekle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-controller="Category" asp-action="Create" method="post">
      <div class="card-body">
        <div class="form-group">
          <label for="categoryName">Kategori İsmi</label>
          <input asp-for="Name" type="text" class="form-control" id="categoryName" placeholder="Kategori ismi">
        </div>
        <div class="form-group">
          <label for="description">Açıklama</label>
          <textarea class="form-control" asp-for="Description" id="description" cols="20" rows="5" placeholder="Açıklama..."></textarea>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <a type="button" href="Index" class="btn btn-primary">Geri</a>
        <button type="submit" class="btn btn-success">Kaydet</button>
      </div>
    </form>
  </div>
  <!-- /.card -->
</div>
